@page
@model WebApp.UI2.Pages.MyBooks.ProductCategories.SearchResultByAttributeModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Item Varients Search Page </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Product Categories</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <input type="hidden" value="@userId" id="userId" />
                        <!-- /.card-header -->
                        <div class="card-body" id="product-main">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="container">
                                        <span>
                                            <img id="loading" style="display: none;" src="~/Content/ajax-loader.gif" />
                                        </span>
                                        <button class="btn btn-success" id="searchbtn">Search</button>

                                        @{
                                            foreach (var tag in Model.Input.AttributesViewModel)
                                            {
                                                <div style="float:left;padding:10px">
                                                    @*<input type="checkbox" value=@tag.Id name="AttributeSelectedOnView">*@
                                                    <label>@tag.Name</label>
                                                    @foreach (var option in tag.AttributesOptionsViewModels)
                                                    {
                                                        <ul>
                                                            <li>
                                                                <input type="checkbox" value=@option.Id name=OptionsSelectedOnView>
                                                                <label>@option.Name</label>
                                                            </li>
                                                        </ul>
                                                    }

                                                </div>
                                            }
                                        }

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div id="searchdata">
                                        @if (Model.Input.ProductVariantsViewModel != null)
                                        {
                                            <partial name="_ProductVariantSearchResultByAtt" model="@Model.Input.ProductVariantsViewModel" />
                                        }                                       

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {

<script>
    $('input:checkbox').change(function () {
        if ($(this).is(':checked'))
            $(this).addClass('selected');
        else
            $(this).removeClass('selected')
    });

    $('#searchbtn').on('click', function (e) {
        var favorite = [];
        $.each($("input[name='OptionsSelectedOnView']:checked"), function () {
            //favorite.push($(this).val());
            favorite.push({
                'Id': $(this).val(),
            });
        });

            axios.post(`${apiUrl}/api/ProductCategories/AddProductCategory`, this.addFinancialYearRequest, {
                    headers: {
                        Authorization: "Bearer " + userAccessToken
                    }
                })
             .then(function (response) {
                 console.log(response);
                 if (response.data.success) {
                     toastr.success(response.data.description)
                     window.location.href = '/MyBooks/ProductCategories/index'
                 } else {
                     toastr.error(response.data.description)
                 }
            })
            .catch(function (response) {
                console.log(error);
                toastr.error('Some Error Occur!!')
            });
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: "@Url.Action("ItemVarientsSearchPageReport", "ProductAttributes")",
            data: { data: JSON.stringify(favorite) },
            // dataType: 'json',
            success: function (data) {
                console.log('success', data);
                $("#searchdata").html(data.modelString);
                $('#loadingmessage').hide();
            },
            error: function (exception) {
                //alert('Exeption:' + exception);
            }
        });
        e.preventDefault();
    });

    $(document)
        .ready(function () {
            $("#btnclear")
                .click(function () {
                    $("#ViolationCategories").val("");
                    $("#Countries").val("");
                    $("#Users").val("");
                    $("#datepickerto").val("");
                    $("#datepickerfrom").val("");
                });

        });
    //$.get(action, null, function (data) {
    //    $('#someDiv').html(data);
    //}, 'html');
</script>
    }