@model IEnumerable<WebApp.UI2.Pages.MyBooks.Products.IndexModel.ProductViewModel>

<div id="resultTable">
    <table id="productList" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var product in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => product.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Name)
                            </td>

                            <td>
                                <a asp-route-id="@product.Id" asp-page="/MyBooks/Products/Update" class="fa fa-edit">Edit</a> |
                                @*  <a asp-route-id="@product.Id" asp-page="/MyBooks/ProductVarients/Index" class="btn btn-sm btn-outline-primary">Varients</a>*@ 
                                <button onclick="confirmAction(event)" data-category-id="@product.Id" type="button" class="btn-danger small">Delete</button>
                            </td>
                        </tr>
                    }
                }
            }

        </tbody>

    </table>
</div>