@page
@model WebApp.UI2.Pages.Companies.EditModel
@{
}
<h1>
    <a asp-page="Companies/Index" class="btn btn-sm btn-primary">Back to List</a>
    Update Company
</h1>
<hr />
<div class="row">
    <form asp-action="Edit" id="questionForm" method="post">
        <input type="hidden" asp-for="@Model.Input.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.Input.Name" class="control-label"></label>
                <input asp-for="@Model.Input.Name" class="form-control" />
                <span asp-validation-for="@Model.Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Input.TaxNumber" class="control-label"></label>
                <input asp-for="@Model.Input.TaxNumber" class="form-control" />
                <span asp-validation-for="@Model.Input.TaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Input.Email" class="control-label"></label>
                <input asp-for="@Model.Input.Email" class="form-control" />
                <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Input.Mobile" class="control-label"></label>
                <input asp-for="@Model.Input.Mobile" class="form-control" />
                <span asp-validation-for="@Model.Input.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Currency </label>
                @*@Html.DropDownList(Model.Currency, ViewBag.Currency as SelectList, null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.DropDownList("Currency", null, htmlAttributes: new { @class = "form-control" })*@
                <select asp-for="@Model.Input.Currency" class="form-control" asp-items="@ViewBag.Currency"></select>
                @Html.ValidationMessageFor(model => @Model.Input.Currency, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Input.Country" class="control-label"></label>

                @Html.EditorFor(model => @Model.Input.Country, new
                {
                htmlAttributes = new
                {

                @class = "form-control",
                @placeholder = "Enter Country Name",
                data_url = @Url.Action("GetCountriesForAutocomplete", "Companies")
                }
                })
                @Html.HiddenFor(c => @Model.Input.CountryId)
                <span asp-validation-for="@Model.Input.Country" class="text-danger"></span>
            </div>
        </div>

        <div class="form-horizontal">
            <h3>Shipping Address</h3>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    @Html.EditorFor(model => @Model.Input.ShippingName, new { htmlAttributes = new { @class = "form-control", placeholder = "Print Name" } })
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Contact </label>
                    @Html.EditorFor(model => @Model.Input.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact No." } })
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Address</label>
                @Html.EditorFor(model => @Model.Input.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                @Html.EditorFor(model => @Model.Input.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.EditorFor(model => @Model.Input.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.EditorFor(model => @Model.Input.State, new { htmlAttributes = new { @class = "form-control", placeholder = "State/Province" } })
                </div>
                <div class="form-group col-md-2">
                    @Html.EditorFor(model => @Model.Input.PinCode, new { htmlAttributes = new { @class = "form-control", placeholder = "PinCode/ZipCode" } })
                </div>

                <div class="form-group col-md-6">
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>

            </div>
        </div>

    </form>
</div>