@page
@model WebApp.UI2.Pages.Companies.RechargeModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Company Recharge</h3>
            <hr />
            <div class="domain_r no-float">
                <div class="row">
                    <div class="col-md-4">
                        <div class="domain_n">
                            <label>Company Name :</label>
                            <label>@Model.Input.Name</label>
                            <input type="hidden" id="cmpid" value="@Model.Input.Id" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form name="add_domains_frm" id="add_domains_frm" action="" method="post" class="domain-list-name">
                            <input type="hidden" name="domain_list[]" value="accountingonweb.club">
                            <div class="available">
                                <select style="margin-top: -5px; font-size:12px; height:41px; width:174px;" onchange="CalRechargeAmt(this.value);">
                                    <option value="1" selected>Select Plan </option>
                                    <option value="150.00">1 Month  INR 150.00 </option>
                                    <option value="300.00">2 Month  INR 300.00 </option>
                                    <option value="450.00">3 Month  INR 450.00 </option>
                                    <option value="800.00">6 Month  INR 800.00 </option>
                                    <option value="1700.00">1 Year  INR 1700.00 </option>
                                </select>

                                <script>
                                       function CalRechargeAmt(amt) {
                                    // alert(amt);

                                     $.ajax({
                                         type: "POST",
                                         url: "/Payment/CalRechargeAmt/",
                                         data: { 'companyId': "@Model.Input.Id", 'planAmount' : amt },
                                         success: function(response) {
                                             if (response != null) {
                                                 $('#rechargeAmt').val(response.rechargeAmount);
                                                  $('#subTotal').text(response.rechargeAmount);
                                                 $('#total').text(response.rechargeAmount);
                                                         $('#cmpId').val(response.id);

                                                     } else {
                                                         alert("Something went wrong");
                                                     }
                                                 },
                                         failure: function(response) {
                                             alert(response.responseText);
                                         },
                                         error: function(response) {
                                             alert(response.responseText);
                                         }
                                     }); };

                                </script>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-4">
                        SubTotal : <label id="subTotal"> </label><br />
                        Total : <label id="total"> </label><br />
                        @*@Html.ActionLink("CheckOut", "CompanyRecharge", "Companies", new { id = Model.Id, username = @User.Identity.Name }, new { @class = "btn btn-success btn-xs" })*@
                        <button onclick="handleRazorpayPayment()" id="rzp-button1" class="btn btn-large btn-success" type="button">Pay</button>
                        <input type="hidden" id="rechargeAmt" />
                        <imp src="~/Indusmarty2_s1.png"></imp>
                    </div>

                </div>
                <div style="clear:both;"></div>
            </div>

        </div>

    </div>
</div>
<div id="order_summery_records"></div>

@section scripts {

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>

    const requestConfig = {
        headers: {
            "Content-Type": "multipart/form-data"
        }
    };
        var handleRazorpayPayment = async function () {
            const amt = $('#rechargeAmt').val();
            const response = await axios.post(`/Payment/CompanyRecharge?amt=` + amt);
        const order_id = response.data.id;


        const options = await {
            key: '@Model.RazorPayKey',
            amount: amt,
            "currency": "USD",
            name: 'TND IT Solutions',
            description: 'Web And Mobile App Solutions',
            image: '/images/Indusmarty2_s1.png',
            order_id: order_id,
            handler: (response) => {
                const confirmPaymentPayload = new FormData();
                confirmPaymentPayload.set('RazorpayPaymentId', response.razorpay_payment_id);
                confirmPaymentPayload.set('RazorpayOrderId', response.razorpay_order_id);
                confirmPaymentPayload.set('RazorpaySignature', response.razorpay_signature);
                axios.post(`/Payment/ConfirmPayment`, confirmPaymentPayload)
                    .then(response => alert(response.data))
                    .catch((err) => console.log(err))
            },
            prefill: {
                name: "TESTUSER",
                email: "@Model.Input.Email",
                contact: "9999999999"
            },
            theme: {
                color: '#F37254'
            }
        };
        const rzp1 = new window.Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        rzp1.open();

    };

    var options = {
        "key": "rzp_live_bFvkVChIS2svHe", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Acme Corp",
        "description": "TRazorPayKeyazorPayKeyazorPayKeyublicKeyest Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };

                    //var rzp1 = new Razorpay(options);
                    //rzp1.on('payment.failed', function (response) {
                    //    alert(response.error.code);
                    //    alert(response.error.description);
                    //    alert(response.error.source);
                    //    alert(response.error.step);
                    //    alert(response.error.reason);
                    //    alert(response.error.metadata.order_id);
                    //    alert(response.error.metadata.payment_id);
                    //});
                    //document.getElementById('rzp-button1').onclick = function (e) {
                    //    rzp1.open();
                    //    e.preventDefault();
                    //}
    </script>
}