@page
@model WebApp.UI2.Pages.MyBooks.VoucherWithItems.IndexModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@string.Format(ViewData["voucherName"] + "s") </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["voucherName"] </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <input type="hidden" value="@ViewData["voucherName"]" id="voucherName" />
                            <h3 class="card-title"><a class="btn btn-success" href="/MyBooks/VoucherWithItems/Add?voucherName=@ViewData["voucherName"]">Add @ViewData["voucherName"] </a></h3>
                            <div id='loadingmessage' style='display:none'>
                                <img src="~/gif/ajax-loader.gif" />
                            </div>
                        </div>
                        <input type="hidden" value="@userId" id="userId" />
                       
                        <!-- /.card-header -->
                        <div id="resultTable">
                            @if (Model.VoucherViewModelList != null)
                            {
                                <partial name="_VoucherInvoiceListPartial" model="@Model.VoucherViewModelList" />
                            }

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts{
<script>
    var apiUrl = '@Model.ApiUrl';
    $(function () {
        DataTableInit();
    });

    function DataTableInit() {
        $("#voucherInvoiceList").DataTable({
            "pageLength": 50,
            "responsive": true, "lengthChange": false, "autoWidth": false, "ordering": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#voucherInvoiceList_wrapper .col-md-6:eq(0)');
    }

    function confirmAction(e) {
        let confirmAction = confirm("Are you sure to delete this voucher?");
        if (confirmAction) {
            //  alert("Action successfully executed");
            $('#loadingmessage').show();
            removeProduct(e);
        } else {
            alert("Action canceled");
        }
    };

    var getLedgers = function () {
        let voucherName = document.getElementById('voucherName').value;
        axios.get('/Partials/GetVoucherInvoiceListPartialView?voucherName=' + voucherName)
            .then(res => {
                var html = res.data;
                var el = document.getElementById('resultTable');
                el.outerHTML = html;
                DataTableInit();
                console.log(res);
            })
    }

    var removeProduct = function (e) {
        let fyrId = e.target.dataset.categoryId;
        let el = document.getElementById('userId');
        let userAccessToken = el.value;
        console.log(fyrId);

        axios.delete(apiUrl + "/api/Vouchers/DeleteVoucher?id=" + fyrId, {
            headers: {
                Authorization: "Bearer " + userAccessToken
            }
        }).then(res => {
            console.log(res);
            if (res.data.success) {
               // alert(res.data.message)
                toastr.success(res.data.message)
                $('#loadingmessage').hide();
            }
            getLedgers();
        })
            .catch(err => {
                alert(err.error);
                $('#loadingmessage').hide();
            })
    }

</script>
}