@page
@model WebApp.UI2.Pages.MyBooks.ProductCategoryAttributes.IndexModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Attributes </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="/MyBooks/ProductCategories/Index">Product Categories</a></li>
                        <li class="breadcrumb-item active">Attributes </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <h3 class="card-title">
                                <i class="fa fa-2x fa-cubes"></i>Attributes
                                <a asp-route-id="@ViewBag.categoryId" class="btn btn-success" asp-page="/MyBooks/ProductCategoryAttributes/Add">Add Category Attribute </a>
                            </h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body" id="product-main">
                            <input type="hidden" value="@userId" id="userId" />
                             <input type="hidden" value="@ViewBag.categoryId" id="categoryId" />
                            <div id="resultTable">
                                @if (Model.CategoryAttributes != null)
                                {
                                    <partial name="_AttributeListPartial" model="@Model.CategoryAttributes" />
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts{
<script>
    var apiUrl = '@Model.ApiUrl';
    $(function () {
        DataTableInit();
    });

    function DataTableInit() {
        $("#attributeTable").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#attributeTable_wrapper .col-md-6:eq(0)');
    }

    function confirmAction(e) {
        let confirmAction = confirm("Are you sure to delete this Attribute?");
        if (confirmAction) {
            //  alert("Action successfully executed");
            removeProduct(e);
        } else {
            alert("Action canceled");
        }
    };

    var getPartialAttributesList = function () {
        let categoryId = document.getElementById('categoryId').value;
         axios.get('/Partials/GetAttributeListPartialView?id=' + categoryId)
            .then(res => {
                var html = res.data;
                var el = document.getElementById('resultTable');
                el.outerHTML = html;
                DataTableInit();
                console.log(res);
            })
    }

    var removeProduct = function (e) {
        let attributeId = e.target.dataset.attributeId;
        let el = document.getElementById('userId');
        let userAccessToken = el.value;
        console.log(attributeId);

        axios.delete(apiUrl + "/api/ProductAttributes/DeleteProductAttribute?id=" + attributeId, {
            headers: {
                Authorization: "Bearer " + userAccessToken
            }
        }).then(res => {
            console.log(res);
            if (res.data.success) {
               // alert(res.data.message)
                toastr.success(res.data.message)
            }
            getPartialAttributesList();
        })
            .catch(err => {
                alert(err.error);
            })

    }

</script>
}
