@page
@model WebApp.UI2.Pages.MyBooks.ProductCategoryAttributes.IndexModel
@{

}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Attributes </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Attributes </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <h3 class="card-title">
                                <i class="fa fa-2x fa-cubes"></i>Attributes
                                <a asp-route-id="@ViewBag.categoryId" class="btn btn-success" asp-page="/MyBooks/ProductCategoryAttributes/Add">Add Category Attribute </a>
                            </h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body" id="product-main">
                            <div id="resultTable">
                                <table id="productCategoryTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Parent Category</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var category in Model.CategoryAttributes)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => category.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => category.CategoryName)
                                                </td>
                                                <td>
                                                    <a asp-route-id="@category.Id" asp-page="/MyBooks/ProductCategoryAttributes/Update" class="fa fa-edit">Edit</a> |                                               
                                                    <button onclick="confirmAction(event)" data-category-id="@category.Id" type="button" class="btn-danger small">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


