@page
@model WebApp.UI2.Pages.MyBooks.Manufacture.IndexModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Manufacture </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Manufacture </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><a class="btn btn-success" asp-page="/MyBooks/Manufacture/Add">Add Manufacture Voucher </a></h3>
                        </div>
                        <input type="hidden" value="@userId" id="userId" />
                        <!-- /.card-header -->
                        <div class="card-body" id="product-main">
                            <div id="resultTable">
                                <table id="productCategoryTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Number</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var voucher in Model.ManufacturingVouchers)
                                        {
                                            int x = 0;
                                            if (x == 0)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => voucher.Date)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => voucher.VoucherNumber)
                                                    </td>
                                                     <td>
                                                    </td>
                                                    <td>
                                                        <a asp-route-id="@voucher.Id" asp-page="/MyBooks/Manufacture/Update" class="fa fa-edit">Edit</a> |                                                       
                                                        <button onclick="confirmAction(event)" data-category-id="@voucher.Id" type="button" class="btn-danger small">Delete</button>
                                                    </td>
                                                </tr>
                                            }

                                            foreach (var item in voucher.ManufacturingVarients)
                                            {
                                                <tr>
                                                    <td>
                                                       
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.VairentName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>

                                                x++;
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>