@page
@model WebApp.UI2.Pages.MyBooks.Stock.UpdateStockModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Stock</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/MyBooks/CurrentStock/index">Product</a></li>
                        <li class="breadcrumb-item active">Update Product</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Update Stock Variant</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Input.Id" id="StockId" />
                                <input type="hidden" value="@userId" id="userId" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label"> Quantity</label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Quantity" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.Quantity" class="text-danger"></span>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Name" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                                <div id="resultTable">
                                    <table class="table table-hover table-responsive table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <td class="col-md-1">S.No</td>
                                                <td class="col-md-2">Varient Name</td>
                                                <td class="col-md-2">Description</td>
                                                <td class="col-md-1">Unit Quantity</td>
                                                <td class="col-md-2">Consumed Quantity</td>
                                                <td class="col-md-1">Rate</td>
                                                <td class="col-md-1">Status</td>
                                                <td class="col-md-1">Total</td>
                                                <td class="col-md-1"></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" id="txtStoreItem" class="ui-autocomplete-input form-control" data-url="@Url.Action("GetVarientsForInvoice", "Vouchers")" placeholder="Enter Product" />
                                                    <input type="hidden" id="hdnStoreItemId" class="form-control" />
                                                    <input type="hidden" id="hdnProductId" class="form-control" />
                                                    <input type="hidden" id="hdnProductAccountId" class="form-control" />
                                                    <input type="hidden" id="hdnAccountCategoryName" class="form-control  hdnAccountCategoryName" />
                                                    <input type="hidden" id="hdnItemType" class="form-control  hdnItemType" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDescription" class="form-control" placeholder="Description" />

                                                </td>
                                                <td>
                                                    <input type="text" id="txtQuantity" class="form-control" onchange="recalculateExtendedPrice()" placeholder="Quantity" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtConsumedQuantity" class="form-control" onchange="recalculateExtendedPrice()" placeholder="Consumed Quantity" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtMRP" class="form-control" maxlength="7" placeholder="MRP" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtStatus" class="form-control" maxlength="7" placeholder="Status" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtAmount" class="form-control  txtAmount" placeholder="Amount" value="0" />
                                                    <input type="hidden" id="hdnAmount" class="form-control  hdnAmount" />
                                                </td>
                                                <td>
                                                    <input id="btnAdd" type="button" value="Add" class="btn btn-primary btn-sm btnadd" />
                                                    @*<a href="#" class="glyphicon glyphicon-pencil btnadd" id="btnadd" title="Add"></a>*@
                                                    <a href="#" class="fa fa-edit btnupdate" id="btnupdate" title="Edit" style="display:none;"></a>
                                                    <a href="#" class="fa fa-erase btnnew" id="btnnew" title="New" style="display:none;"></a>
                                                </td>
                                            </tr>
                                        </thead>

                                        <tbody id="tbodyitems" class="tbodyitems bordered">
                                            @{
                                                if (Model.Input.Varients != null)
                                                {
                                                    @foreach (var item in Model.Input.Varients)
                                                    {
                                            <tr>
                                                <td>
                                                    <p class='sNo'>@item.SrNo</p>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ItemName)
                                                </td>
                                                <td>
                                                    <p class='batchName'>@item.Description</p>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ConsumedQuantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MRPPerUnit)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                <td>
                                                    <p class="extendedPrice">@item.ItemAmount</p>
                                                </td>
                                                <td>
                                                    <input type='hidden' class='hdnappendProductId' value=@item.ProductVariantId />
                                                    <input type='hidden' class='hdnappendProductAccountId' value=@item.Id />
                                                    <input type="hidden" id="hdnappendAmount" class="hdnappendAmount" value="@item.ItemAmount" />
                                                    <input type='hidden' class='hdnappendMRP' value=@item.MRPPerUnit />
                                                    <input type="hidden" id="hdnappendItemName" class="hdnappendProductName" value="@item.ItemName" />
                                                    <input type="hidden" id="hdnappendQuantity" class="hdnappendQuantity" value="@item.Quantity" />
                                                    <input type="hidden" id="hdnappendMRPPerUnit" class="hdnappendMRPPerUnit" value="@item.MRPPerUnit" />
                                                    <button class="btn btn-sm btn-outline-warning fas fa-edit addVoucherVariant" value="@item.Id" style='cursor:pointer;'></button>
                                                    @*<button class="btn btn-sm btn-outline-light fa fa-edit edit" value="@item.Id" style='cursor:pointer;'></button>*@
                                                    @*<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">modal</button>*@
                                                    <button class="btn btn-sm btn-outline-danger fas fa-trash-alt delete" value="@item.Id" style='cursor:pointer;'></button>


                                                </td>
                                            </tr>

                                                    }
                                                }
                                            }
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><input type='hidden' id="hdnItemTotal" class='hdnItemTotal' /></td>
                                                <td>Total</td>
                                                <td class='itemstotalclass'></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button onclick="UpdateProduct(event)" class="btn btn-info float-right" style="margin-left:20px">Update</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->


    </section>

</div>

@section scripts{
    @*<script src="~/js/product.js"></script>*@
    <script>
       var apiUrl = '@Model.ApiUrl';

        function UpdateProduct(e) {
           // let confirmAction = confirm("Are you sure to delete this product?");
            performPostRequest(e);
        }

        var updateStockRequest = {
            id: "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            name: "f1",
            quantity: 0,
        };
        function performPostRequest(e) {
            let userId = document.getElementById('userId');
            let stockId = document.getElementById('StockId').value;
            let name = document.getElementById('Input_Name').value;
            let quantity = document.getElementById('Input_Quantity').value;
            updateStockRequest.name = name;
            updateStockRequest.id = stockId;
            updateStockRequest.quantity = quantity;
            let userAccessToken = userId.value;
            console.log(this.updateStockRequest);

            axios.put(`${apiUrl}/api/Stocks/UpdateStock`, this.updateStockRequest, {
                headers: {
                    Authorization: "Bearer " + userAccessToken
                }
            })
                 .then(function (response) {
                     console.log(response);
                     if (response.data.success) {
                         toastr.success(response.data.description)
                         window.location.href = '/MyBooks/Stock/CurrentStock'
                     } else {
                         toastr.error(response.data.description)
                     }
                })
                .catch(function (error) {
                    console.log(error);
                    toastr.error('Some Error Occur!!')
                });
            e.preventDefault();
        }
    </script>
}